<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/home.css" />
    <link rel="icon" href="/static/image/icon.png" />
    <title>BatuGo</title>
  </head>
  <body>
    <section class="container">
      <nav>
        <div class="title">
          <div>Batu</div>
          <div>Go</div>
        </div>
        <ul>
          <li class="active">
            <a href="/">Home</a>
          </li>
          <li>
            <a href="map">Map</a>
          </li>
        </ul>
      </nav>
      <div class="content">
        <div class="content-title">
          <h1>A Web App for Shortest Path in Batu Tourism City</h1>
          <p>
            BatuGo is a web-based application using Dijkstra's algorithm to find
            the shortest and most efficient routes between points of interest in
            Batu, enhancing visitors' travel experience by reducing travel time
            and increasing convenience.
          </p>
        </div>
        <button><a href="/map">Get Started</a></button>
        <figure>
          <img src="/static/image/map.png" alt="map" />
        </figure>
        <section>
          <h2>Tech Overview</h2>
          <figure class="tech-img">
            <img src="/static/image/js.png" alt="" />
            <img src="/static/image/python.png" alt="" />
            <img src="/static/image/flask.png" alt="" />
          </figure>
        </section>
      </div>
    </section>
    <footer>
      <p>v 1.0.0</p>
    </footer>
  </body>
</html>
